* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: black;
}

.logo img {
	width: 200px;
}

.menu-icon {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 24px;
}

.menu-icon .bar {
	width: 30px;
	height: 3px;
	background-color: white;
	margin: 3px 0;
}

/* Estilo do menu */
.menu {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	height: 100%;
	background-color: blue;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: right 0.3s ease;
}

.menu ul {
	list-style: none;
	text-align: center;
}

.menu ul li {
	margin: 20px 0;
}

.menu ul li a {
	color: white;
	text-decoration: none;
	font-size: 24px;
}

.menu ul li a img {
	width: 24px;
	margin: 0 5px;
}

.hero {
	height: 100vh;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.hero-nav a {
	margin: 10px;
	padding: 10px 20px;
	border: 2px solid white;
	color: white;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.hero-nav a:hover {
	background-color: white;
	color: black;
}

.menu.open {
	right: 0;
}